@import "../../styles/Variables";

header {
    text-align: end;
    padding-top: 20px;
    img {
        display:flex;
    }
    a {
        position: relative;
        bottom: 35px;
        padding: 20px;
        color: $maincolor;
        text-decoration: none;
    }
}

a.underline {
    text-decoration: underline;
}

@media (max-width: 580px) { 
    header {
        padding-bottom: 0px;
        img {
            width: 145px;
        }
        a {
            font-size: 15px;
            padding-left: 12px;
            padding-right: 0px;
        }
    }
}

@media (max-width: 360px) { 
    header {
        img {
            width: 48%;
        }
        a {
            font-size: 12px;
        }
    }
}