@import "../../styles/Variables";

.Housing {
    .Collapse {
        display: flex;
        flex-direction: row;

        .collapse-container {
            flex: 1;
            margin-right: 10px;

            .collapse-button {
                display: flex;
                align-items: center;
                background-color: $maincolor;
                color: #fff;
                padding: 10px;
                border: none;
                cursor: pointer;
                outline: none;
            }
        }
    }
}