.notfound {
    text-align: center;
    color:$maincolor;
    min-height: 78.9vh;
    p {
        font-size: 36px;
        padding: 70px 0px;
    }
    a {
        font-size: 18px;
    &:visited {
        color:$maincolor;
    }
}
    h2 {
        font-size:288px;
        font-weight: 700;
        margin: 0;
        padding: 120px 0px 0px 0px;
    }
}   