.notfound {
    text-align: center;
    color:$maincolor;
    p {
        font-size: 36px;
        padding: 109px 0px;
    }
    a {
        font-size: 18px;
    &:visited {
        color:$maincolor;
    }
}
    h2 {
        font-size:288px;
        font-weight: 700;
        margin: 0;
        padding: 120px 0px 0px 0px;
    }
}

@media (max-width: 930px) {
    .notfound {
        p {
            font-size: 25px;
        }
    }
}    

@media (max-width: 640px) { 
    .notfound {
        h2 {
            font-size:150px;
        }
        p {
            font-size: 25px;
        }
    }
}

@media (max-width: 426px) {
    .notfound {
        h2 {
            font-size:96px;
            padding: 197px 0px 0px 0px;
        }
        p {
            font-size: 18px;
            padding: 114px 0px;
        }
        a {
            font-size: 14px;
        }
    }
}