@import "../../styles/Variables";

.Housing {
    h1 {
        color: $maincolor;
        font-size: 36px;
    }
    h2 {
        color: $maincolor;
        font-size: 18px;
    }
    p {
        font-size: 14px;
    }
    .location-text-container {
        display: flex;
    }
    .TitleLocation {
        width: 100%;
    }

    .HostRating {
        position: relative;
        display: flex;
        p {
            color: $maincolor;
            width: 50%;
        }
        img {
        width: 64px;
        height: 64px;
        border-radius: 32px;
        }
    }
}