@import "../../styles/Variables";

.Housing {
    h1 {
        color: $maincolor;
        font-size: 36px;
    }
    h2 {
        color: $maincolor;
        font-size: 18px;
    }
    p {
        font-size: 14px;
    }
    .location-text-container {
        display: flex;
        margin-bottom: 10px;
    }
    
    .TitleLocation {
        width: 100%;
    }

    .HostRating {
        position: relative;
        display: flex;
        margin-top: 25px;
        flex-direction: row;
        align-content: flex-start;
        justify-content: flex-end;
        flex-wrap: wrap;
        width: 240px;
        align-items: flex-start;
        p {
            color: #FF6060;
            width: 44%;
            font-size: 18px;
            text-align: right;
            margin-right: 13px;
        }
        img {
        width: 64px;
        height: 64px;
        border-radius: 32px;
        }
    }
}