@import "../../styles/Variables";

.star-rating {
    width: 175px;
    margin-top: 13px;
    
    .star-red {
        color: $maincolor;
        padding-left: 8px;
    }

    .star-gray {
        color: #E3E3E3;
        padding-left: 8px;
    }
}

@media (max-width: 580px) { 
    .star-rating {
        width: 56%;
        order: 1;
        font-size: 18px;
        position: absolute;
        left: 0px;
    }
}