.carousel-container {
    height: 415px;
    width: 100%;
    position: relative;
    border-radius: 10px;
}

.carousel-image {
    height: 415px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-controls {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.arrow-right {
    position: absolute;
    transform: translateY(-210%);
    right: 20px;
    color: white;
    border: none;
    background: none;
    font-size: 91px;
}

.arrow-left {
    position: absolute;
    transform: translateY(-210%);
    left: 20px;
    color: white;
    border: none;
    background: none;
    font-size: 91px;
    }

.slide-number {
    position: relative;
    bottom: 10px;
    color: white;
}

@media (max-width: 580px) {
    .carousel-container {
        height: 225px;
    }
    .carousel-image {
        height: 225px;
    }
    .arrow-right {
        font-size: 32px;
        right: 10px;
        transform: translateY(-320%);
    }
    .arrow-left {
        font-size: 32px;
        left: 10px;
        transform: translateY(-320%);
    }
    .slide-number {
        display: none;
    }
}