footer {
    color:white;
    background-color: black;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 1px;
    img {
        padding: 10px;
    }
}

@media (max-width: 360px) { 
    footer {
        padding-bottom: 20px;
        img {
            width: 50%;
        }
        p {
            font-size: 12px;
            width: 40%;
            padding-left: 93px;
        }
    }
}